.ModalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}